<div class="hike-card-index">
  <%= cl_image_tag hike.photo.key, height: 300, width: 400, crop: :fill %>
  
  <div class="hike-bottom-section-flex">
    <div class="hike-info">
      <h3 class="hike-card-name"><%= hike.hike_name %></h3>
      <p class="hike-card-text">Difficulty: <%= hike.difficulty %></p>
      <p class="hike-card-text">Distance: <%= hike.distance %></p>
    </div>
    <div class= "hike-card-btn">
      <%= link_to "Go to Hike", hike_path(hike) %>
    </div>
  </div>
</div>
