<div class="form-content">
  <%= simple_form_for @hike do |f| %>
    <%= f.input :hike_name, label: "Hike name:", placeholder: 'Cairngorms National Park Hike'%>
    <%= f.input :hike_description, label: "Description:", placeholder: 'A lovely hike with stops for lunch' %>
    <%= f.input :difficulty, label: "Difficulty:", collection: ["Easy", "Medium", "Hard"] %>
    <%= f.input :distance, label: "Distance (km):", placeholder: '10.5' %>
    <%= f.input :max_people, label: "Max. number of people:", placeholder: '5' %>
    <%= f.input :starting_point, as: :hidden, label: "Starting location:",
        input_html: {data: {address_autocomplete_target: "address"}},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
        class: "mapbox-search-form"
      %>
    <%= f.input :hike_date, html5: true, label: "Date:", hint: "Set a date or leave it blank for now!", include_blank: true, placeholder: "hh" %>
    <%= f.input :photo, as: :file %>
    <div>
      <%= f.button :submit, class: "btn-yellow" %>
    </div>
  <%end%>
</div>
<br>
