
<%# <div class="login-form-container"> %>
<%# <div class="form-content"> %>
  <%= simple_form_for @hike do |f| %>
    <%= f.input :hike_name, label: "Hike name:", placeholder: 'Cairngorms National Park Hike'%>
    <%= f.input :hike_description, label: "Description:", placeholder: 'A lovely hike with stops for lunch' %>
    <%= f.input :difficulty, label: "Difficulty:", collection: ["Easy 🟢", "Medium 🟡", "Hard 🔴"] %>
    <%= f.input :max_people, label: "Max. number of people:", placeholder: '5' %>
    <%= f.input :starting_point, as: :hidden, label: "Starting location:",
        input_html: {data: {address_autocomplete_target: "address"}},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
        class: "mapbox-search-form"
      %>
    <%= f.input :hike_date, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label" },
                input_html: { data: { controller: "flatpickr" } } %>    <%= f.input :photo, as: :file %>
    <div>
      <%= f.button :submit, class: "btn-yellow" %>
    </div>
  <%end%>

<%# </div> %>

</div>
