
<div class="hike-card-index">
  <% if hike.photo.attached? %>
      <div class="hike-card-img" style="background-image: url('<%= cl_image_path hike.photo.key %>')"></div>
  <% else %>
      <div class="hike-card-img" style="background-image: url('https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')"></div>
  <% end %>
  <div class="hike-card-bottom-section-flex">
    <div class="hike-card-info">
      <h3 class="hike-card-name"><%= hike.hike_name %></h3>
      <p class="hike-card-text">Difficulty: <%= hike.difficulty %></p>
      <p class="hike-card-text">Distance: <%= hike.distance %></p>
    </div>
    <div class= "hike-card-btn">
      <%= link_to "Go to Hike", hike_path(hike) %>
    </div>
  </div>
</div>
