
<div class="map-card-index">
  <% if hike.photo.attached? %>
      <div class="map-card-img" style="background-image: url('<%= cl_image_path hike.photo.key %>')"></div>
  <% else %>
      <div class="map-card-img" style="background-image: url('https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')"></div>
  <% end %>
  <div class="map-card-bottom-section-flex">
    <div class="map-card-info">
      <h3 class="map-card-name"><%= hike.hike_name.truncate(14, separator: ',')%></h3>
      <p class="map-card-text"><strong> Difficulty:</strong> <%= hike.difficulty %> </p>
      <p class="map-card-text"><strong>Distance:</strong> <%= hike.distance %></p>
    </div>
    <div class= "map-card-btn">
      <%= link_to "Go to Hike", hike_path(hike) %>
    </div>
  </div>
</div>
