<div class="page-container-flex">

  <div class="hike-page-title-bar-flex">
  <h1><%= @hike.hike_name%></h1>
  <!--avatars-->
  </div>

  <br>

  <!-- THIS IS THE SHOW PAGE WHEN YOU HAVEN'T REQUESTED TO JOIN -->

  <div class="hike-page-info-card">
    <% if @hike.photo.attached? %>
      <div class="hike-page-info-img" style="background-image: url('<%= cl_image_path @hike.photo.key %>')"></div>
    <% else %>
      <div class="hike-page-info-img" style="background-image: url('https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')"></div>
    <% end %>
    <div class="hike-page-info-text">
      <div class="hike-page-details-flex">
        <div class="hike-page-details-1">
          <p> <i class="fa-solid fa-location-dot"></i> &nbsp; <%= @hike.starting_point.split(",").first %></p>
          <p> <i class="fa-solid fa-route"></i> &nbsp; <%= @hike.distance %> km </p>
          <p> <i class="fa-solid fa-gauge-simple-high"></i> &nbsp; <%= @hike.difficulty %></p>
        </div>
        <div class="hike-page-details-2">
          <p> <i class="fa-solid fa-person-hiking"></i> &nbsp; <%= @hike.users.count + 1 %> / <%= @hike.max_people %> Hikers </p>
          <% if @hike.hike_date.blank? %>
            <p> <i class="fa-regular fa-calendar"></i> &nbsp; TBC </p>
          <% else %>
            <p> <i class="fa-regular fa-calendar"></i> &nbsp; <%= @hike.hike_date.strftime("%b %d, %Y") %></p>
          <% end %>

          <% if @hike.hike_confirmed %>
            <p> <i class="fa-regular fa-calendar-check"></i> &nbsp; Confirmed </p>
          <% else %>
            <p> <i class="fa-regular fa-calendar-xmark"></i> &nbsp; Not confirmed </p>
          <% end %>
        </div>
      </div>

      <div class="hike-page-description">
        <p> <%= @hike.hike_description %> </p>
      </div>
    </div>
      <% if @request.empty? %>
        <% unless @hike.user == current_user %>
          <% unless @hike.users.ids.include?(current_user.id) %>
            <div class="request-button">
              <%= button_to 'Join Hike', hike_requests_path(@hike), method: :post, class: "hike-request-button"%>
            </div>
          <% end %>
        <% end %>
      <% elsif current_user == @hike.user || @request.last.request_pending == false && @request.last.request_accepted == true %>
            <div class="hike-page-hikers">
              <h1>Hikers Joined</h1>
                <ul>
                  <li> <%= @hike.user.first_name %> <%= @hike.user.last_name %> (Hike creator) </li>
                    <% @hike.users.each do |hiker| %>
                      <li><%= hiker.first_name %> <%= hiker.last_name %> </li>
                    <% end %>
                </ul>
                <p> There's space for <%= (@hike.max_people) - (@hike.users.count + 1)%> more in this Hike!</p>
            </div>

                  <!-- THIS IS THE SHOW PAGE WHEN YOU'VE REQUESTED AND ARE PENDING -->
      <% elsif  @request.last.request_pending == true && @request.last.request_accepted == false %>
        <div class="pending-button">
          <button class= "pending-request-button">Pending</button>
        </div>

      <% elsif @request.last.request_pending == false && @request.last.request_accepted == false %>
        <h2>Sorry, you have not been accepted into this Hike!</h2>
      <% end %>
  </div>
</div>

<!--
        <% unless @hike.user == current_user %>
        <% unless @hike.users.ids.include?(current_user.id) %>
        <% end %>
        <% end %>
-->
