<div class="my-hikes-container">
  <h2>My Hikes</h2>
  <div class="created-hikes-container">
    <h3>My Created Hikes</h3>
    <div class="my-created-hikes-cards">
      <% @hikes.each do |hike| %>
        <a href=""><div
          class="small-hike-card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3),
          rgba(0,0,0,0.3)), url('<%= cl_image_path hike.photo.key, height: 160, crop: :fill %>')"
        >
          <p><%= hike.hike_name.truncate(20) %></p>
        </div>
        </a>
      <% end %>
    </div>
  </div>
  <div class="hike-requests-container">
    <h3>My Requests</h3>
    <div class="hike-request-cards">
      <% @pending_requests.each do |request| %>
        <div class="my-pending-requests">
          <div class="avatar-content-flex">
            <div class="avatar">
              <img src="" alt="">
            </div>
            <div class="hike-request-content">
              <%= request.user.first_name%>
              <i class="fa-solid fa-circle-check"></i>
              <%= button_to 'Accept', request_accept_path(request), method: :post %>
              <%# link to accept action in requests controller %>
              <%= button_to 'Reject', request_reject_path(request), method: :post %>
              <i class="fa-solid fa-circle-xmark"></i>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
