<div class="my-hikes-container">
  <div class="requests-page-title-container">
    <h2>My Hikes</h2>
  </div>
  <div class="created-hikes-container">
    <h3>My Created Hikes</h3>
    <div class="my-created-hikes-cards">
      <% @hikes.each do |hike| %>
        <%= link_to hike_path(hike) do %>
          <% if hike.photo.attached? %>
            <div
              class="small-hike-card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3),
              rgba(0,0,0,0.3)), url('<%= cl_image_path hike.photo.key, height: 160, crop: :fill %>')"
            >
              <p><%= hike.hike_name.truncate(20) %></p>
            </div>
          <% else %>
            <div
            class="small-hike-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)), url('https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')"
            >
              <p><%= hike.hike_name.truncate(20) %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="hike-requests-container">
    <h3>My Requests</h3>
    <div class="hike-request-cards">
      <% @pending_requests.each do |request| %>
        <% if request.hike.user == current_user %>
          <div class="my-pending-requests">
            <%= link_to user_path(request.user) do %>
              <div class="avatar-content-flex">
                <div class="pending-content">
                  <h4><%= request.user.first_name %></h4>
                </div>
                <button class="pending-profile-button"> Profile </button>
              </div>
            <% end %>
              <div class="hike-request-content">
                <p><%= request.user.first_name %> wants to join <%= request.hike.hike_name %></p><br>
                <div class="request-buttonn">
                <%= button_to 'Accept', request_accept_path(request), method: :post, class: "request-button-accept" %>
                <%# link to accept action in requests controller %>
                <%= button_to 'Reject', request_reject_path(request), method: :post, class: "request-button-reject" %>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="upcoming-hikes-container">
    <h3>My Upcoming Hikes</h3>
    <div class="my-upcoming-hikes-cards">
      <% @accepted_requests.each do |request| %>
        <% if request.hike.user != current_user && request.user == current_user %>
          <%= link_to hike_path(request.hike) do %>
            <% if request.hike.photo.attached? %>
              <div
                class="small-hike-card"
                style="background-image: linear-gradient(rgba(0,0,0,0.3),
                rgba(0,0,0,0.3)), url('<%= cl_image_path request.hike.photo.key, height: 160, crop: :fill %>')"
              >
                <p><%= request.hike.hike_name.truncate(20) %></p>
              </div>
            <% else %>
              <div
              class="small-hike-card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3),
              rgba(0,0,0,0.3)), url('https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')"
              >
                <p><%= request.hike.hike_name.truncate(20) %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="requested-hikes-container">
    <h3>My Pending Requests</h3>
    <% @pending_requests.each do |request| %>
      <% if request.user == current_user %>
        <% if request.hike.photo.attached? %>
            <div
              class="small-hike-card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3),
              rgba(0,0,0,0.3)), url('<%= cl_image_path request.hike.photo.key, height: 160, crop: :fill %>')"
            >
              <p><%= request.hike.hike_name.truncate(20) %></p>
            </div>
          <% else %>
            <div
            class="small-hike-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)), url('https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')"
            >
              <p><%= request.hike.hike_name.truncate(20) %></p>
            </div>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>
